<?php

$local    = 'en_US';
$basePath = '/app';
$baseUrl  = 'http://localhost:8080';

return [
    'roles'   => [
        'default_roles' => [
            [
                'name'    => 'member',
                'section' => 'api',
            ],
        ],
    ],
    'jwt'     => [
        'type'        => 'secret', // secret,keys
        'secret'      => 'XXX',
        'exp_access'  => 1209600, // 14 days, for development, for production set new value
        'exp_refresh' => 7776000, // 90 days
        'public_key'  => '', // PATH_TO_FILE
        'private_key' => '', // PATH_TO_FILE
        'iss'         => $baseUrl,
        'aud'         => $baseUrl,
        'check_ip'    => 1,
        'allowed_ips' => [
            '203.0.113.5',  // Example static IP
            '198.51.100.0/24', // Example subnet (all IPs in 198.51.100.0 - 198.51.100.255)
            '10.0.0.1',      // Private network IP (e.g., internal microservice)
        ],
        'additional'  => [
            'company_id',
            'company_title',
            'identity',
            'email',
            'name',
            'first_name',
            'last_name',
            'avatar',
            'roles',
        ],
    ],
    'account' => [
        'otp_email'    => [
            'subject' => 'Login by one-time token',
            'body'    => 'Your one-time token is <strong>%s</strong> and it is valid just for 2 minutes.',
        ],
        'multi_factor' => [
            'status' => 0,
        ],
        'oauth'        => [
            'oauth_login'    => 1,
            'oauth_register' => 1,
            'microsoft'      => [
                'status'                  => 1,
                'microsoft_callback'      => 'XXX',
                'microsoft_client_id'     => 'XXX',
                'microsoft_client_secret' => 'XXX',
                'microsoft_tenant_id'     => 'XXX',
            ],
            'google'         => [
                'status'               => 1,
                'google_callback'      => 'XXX',
                'google_client_id'     => 'XXX',
                'google_client_secret' => 'XXX',
            ],
            'oauth2'         => [
                'base_url'         => 'XXX',
                'authorize_url'    => 'XXX',
                'token_url'        => 'XXX',
                'user_info_url'    => 'XXX',
                'client_id'        => 'XXX',
                'response_type'    => 'XXX',
                'scope'            => 'XXX',
                'redirect_uri'     => 'XXX',
                'state'            => 'XXX',
                'nonce'            => 'XXX',
                'response_mode'    => 'XXX',
                'client_login_url' => 'XXX',
            ],
        ],
        'register'     => [
            'status' => 1,
        ],
        'login'        => [
            'session_policy'       => 'multi', // multi,single
            'permission'           => 1,
            'get_company'          => 1,
            'permission_package'   => 1,
            'permission_blacklist' => [],
        ],
    ],
    'captcha' => [
        'recaptcha' => [
            'public' => 'XXX',
            'secret' => 'XXX',
        ],
    ],
    'export'  => [
        'format'    => 'csv',
        'file_path' => 'PATH_TO/data/export',
    ],
    'avatar'  => [
        'avatar_uri'        => 'https://...',
        'public_path'       => 'PUBLIC_AVATAR_PATH',
        'allowed_extension' => [
            'jpg',
            'jpeg',
            'png',
        ],
        'mime_type'         => [],
        'allowed_size'      => [
            'min' => '1kB',
            'max' => '2MB',
        ],
    ],
];