<?php

$local    = 'en_US';
$basePath = '/app';
$baseUrl  = 'http://localhost:8080';

return [
    'db'      => [
        'driver'         => 'Pdo',
        'dsn'            => 'mysql:dbname=XXX;host=XXX;charset=utf8',
        'username'       => 'XXX',
        'password'       => 'XXX',
        'driver_options' => [
            PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES utf8mb4 COLLATE utf8mb4_general_ci',
            PDO::ATTR_PERSISTENT         => false,
        ],
        'options'        => [],
    ],
    'global'  => [
        'sitename' => 'Lamines',
        'baseurl'  => $baseUrl
    ],
    'cache'   => [
        'storage' => 'redis',
        'options' => [
            'namespace' => 'local_laminas',
            'ttl'       => 1209600,
            'server'    => [
                '127.0.0.1',
                6379,
            ],
        ],
        'plugins' => [
            [
                'name' => 'serializer',
            ],
        ],
    ],
    'roles'   => [
        'default_roles' => [
            [
                'name'    => 'member',
                'section' => 'api',
            ],
        ],
    ],
    'jwt'     => [
        'type'        => 'secret', // secret,keys
        'secret'      => 'XXX',
        'exp_access'  => 1209600, // 14 days, for development, for production set new value
        'exp_refresh' => 7776000, // 90 days
        'public_key'  => '', // PATH_TO_FILE
        'private_key' => '', // PATH_TO_FILE
        'iss'         => $baseUrl,
        'aud'         => $baseUrl,
    ],
    'account' => [
        'otp_email'    => [
            'subject' => 'Login by one-time token',
            'body'    => 'Your one-time token is <strong>%s</strong> and it is valid just for 2 minutes.',
        ],
        'multi_factor' => [
            'status' => 0,
        ],
        'oauth'        => [
            'oauth_login'    => 1,
            'oauth_register' => 1,
            'microsoft'      => [
                'status'                  => 1,
                'microsoft_callback'      => 'XXX',
                'microsoft_client_id'     => 'XXX',
                'microsoft_client_secret' => 'XXX',
                'microsoft_tenant_id'     => 'XXX',
            ],
            'google'         => [
                'status'               => 1,
                'google_callback'      => 'XXX',
                'google_client_id'     => 'XXX',
                'google_client_secret' => 'XXX',
            ],
            'oauth2'         => [
                'base_url'         => 'XXX',
                'authorize_url'    => 'XXX',
                'token_url'        => 'XXX',
                'user_info_url'    => 'XXX',
                'client_id'        => 'XXX',
                'response_type'    => 'XXX',
                'scope'            => 'XXX',
                'redirect_uri'     => 'XXX',
                'state'            => 'XXX',
                'nonce'            => 'XXX',
                'response_mode'    => 'XXX',
                'client_login_url' => 'XXX',
            ],
        ],
        'register'     => [
            'status' => 1,
        ],
        'login'        => [
            'session_policy'     => 'multi', // multi,single
            'permission'         => 1,
            'get_company'        => 1,
            'permission_package' => 1,
        ],
    ],
    'captcha' => [
        'recaptcha' => [
            'public' => 'XXX',
            'secret' => 'XXX',
        ],
    ],
    'export'  => [
        'format'    => 'csv',
        'file_path' => 'PATH_TO/data/export',
    ],
    'avatar'  => [
        'avatar_uri'        => 'https://...',
        'public_path'       => 'PUBLIC_AVATAR_PATH',
        'allowed_extension' => [
            'jpg',
            'jpeg',
            'png',
        ],
        'mime_type'         => [],
        'allowed_size'      => [
            'min' => '1kB',
            'max' => '2MB',
        ],
    ],
    'utility' => [
        'local'         => $local,
        'currency'      => 'USD',
        'timezone'      => 'Asia/Dubai',
        'date_local'    => $local,
        'date_type'     => IntlDateFormatter::SHORT,
        'time_type'     => IntlDateFormatter::NONE,
        'date_calendar' => IntlDateFormatter::TRADITIONAL,
        'date_pattern'  => 'dd/MM/yyyy',
    ],
    'security'     => [
        'ip'             => [
            'is_active' => true,
            'whitelist' => [
                '172.18.0.1',
                '192.168.1.1',
                '10.0.0.0/24', // Range
            ],
            'blacklist' => [
                'unknown',
                '203.0.113.5',
                '198.51.100.0/24', // Range
            ],
        ],
        'method'         => [
            'is_active'    => true,
            'allow_method' => ['POST', 'GET'],
        ],
        'xss'            => [
            'is_active'        => true,
            'ignore_whitelist' => true,
        ],
        'inputValidation'=> [
            'is_active'        => true,
            'ignore_whitelist' => true,
        ],
        'inputSizeLimit' => [
            'is_active'      => true,
            'max_input_size' => 1048576, // 1MB in bytes
        ],
        'requestLimit'   => [
            'is_active'        => true,
            'ignore_whitelist' => true,
            'max_requests'     => 100,
            'rate_limit'       => 60, // Time window in seconds
        ],
        'account'        => [
            'attempts' => 5,
            'ttl'      => 3600,
        ],
    ],
];